/*
 * Instead of hacking Seven we'll use a sub theme to seven where we can fix some of the bad UI seven outputs.
 * Some CSS here could probably make it back to Seven as patches but some are probably to NodeStream specific.
 */


/*
 * But fieldsets closer to its input field.
 */
div.node-form fieldset
{
  margin-top: 0;
  margin-bottom: 1em
}

/*
 * Only display border top when fieldsets are collapsed.
 */
html.js fieldset.collapsed
{
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
  padding-top: 0;
}

/*
 * Node Relationship adds icons next to the input field, so it needs to be smaller.
 */
div.node-form input.noderelationships-nodereference-autocomplete
{
  width: 91.5%;
}

/*
 * Spacing below cck add more button.
 */
div.content-add-more
{
  margin-bottom: 2em;
}

/*
 * Reset width on date fields
 */
div.node-form .container-inline-date .form-item,
div.node-form .container-inline-date .form-item input
{
  width: auto;
}

/*
 * Remove bottom margin/padding when textarea has Input Format
 */
.form-item-textarea-format
{
  margin-bottom: 0;
  padding-bottom: 0;
}
